@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');

:root {
  --font-one: 'Montserrat', sans-serif;
  --font-two: 'Playfair Display', serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-one);
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100vw;
  padding: 20px;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  
}

@media  screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-img {
  width: 100%;
}

.main-img img {
  width: 100%;

} 

.heading h1 {
  margin: 20px;
  font-family: var(--font-two);
}

.heading .sec {
  display: flex;
  font-size: 14px;
  gap: 10px;
  margin-bottom: 20px;
}

.sec img {
  margin-bottom: 10px;
}

.right {
  width: 55%;
}

.ingredients h3 {
  margin: 20px 0;
  font-family: var(--font-two);
}

.graham div,
.chesscake div {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

h4 {
  font-weight: 400;
  font-family: var(--font-two);
  margin-bottom: 20px;
} 

.instruct-item {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.instruct-item div {
  background-color: orange;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruct-item p {
  width: 90%;
}